<p><a name="sections"></a></p>


# Sections

- <a href="#DS">Data Structure</a><br>
- <a href="#DM">Data Manipulation</a><br>
- <a href="#grouping">Grouping and aggregration</a><br>
- <a href="#miss">Handling Missing Data</a><br>
- <a href="#extra">Miscellaneous</a><br>

# Pandas

### Data Structure

- Pandas is a Python package built on top of NumPy.  It is useful for special array handling, data manipulation, plotting, and web scraping.  

- There are four new data structure objects in Pandas: Series, DataFrame, Time Series and Panel. The first two will be discussed.

- The *DataFrame* object borrows its name from the R object.

- Pandas is particularly strong in the area of handling spreadsheet structures, dealing with missing data, and processing time series data.

These are the new data types introduced by pandas:

- **Series**: 1D labeled homogeneously-typed array.
- **DataFrame**: General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed columns.
- **Time Series**: Series with index containing datetimes.
- **Panel**: General 3D labeled, also size-mutable array.

Import the package, as follows:

In [ ]:
import numpy as np
import pandas as pd


## Series

- A series is a one-dimensional array-like object containing homogenously typed elements.   
- Each element has an associated data label, called its index. By default, the index consists of ordinary array indices, i.e. consecutive integers starting from zero.

In [ ]:
obj = pd.Series(['a', 'b', 'c', 'd'])
obj

In [ ]:
obj.index  #this is the default index

- An entry can be retrieved using the index, as follows:

In [ ]:
obj[0]

- Often it will be more desirable to create a series with a custom index. 
- Here the index is manually set the index from 1 to 4, with 4 repeated. Note there are two rows with the same index 4.

In [ ]:
obj2 = pd.Series(['a', 'b', 'c', 'd','e'], index=[1, 2, 3, 4, 4])
obj2

- Calling that entry gives both values.  In this way a series is different from a dictionary.

In [ ]:
obj2.index #custom index

In [ ]:
obj2[4]

- The index value may also be a string.  A new entry with a string index is written:

In [ ]:
obj2['something']=660
obj2

- Note the entries are not retrievable by their place but the value of their index.

- The attribute `values` returns all the values.

In [ ]:
obj2.values

In [ ]:
obj2.values[1]   # obj.values is simply an array

## DataFrame

- A data frame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns.
- Each column can be a different type (integers, strings, floating point numbers, Python objects, etc.).  
- All columns must be the same length, to give the data frame a defined shape.

In [ ]:
data = {'commodity': ['Gold', 'Gold', 'Silver', 'Silver'],
        'year': [2013, 2014, 2014, 2015],
        'production_Moz': [900, 109.7, 868.3, 886.7]} #world wide in million oz

# convert to DataFrame
df = pd.DataFrame(data)
df

In [ ]:
df.columns

In [ ]:
df.index #standard index

In [ ]:
df.index=([4,5,6,7])
df

In [ ]:
df.index #custom integer index

- The index may be set using the method `set_index`, as follows:

In [ ]:
df=df.set_index('commodity')
df

In [ ]:
df.index #custom string index

In [ ]:
#floats can also be an index
df.set_index('production_Moz').index

In [ ]:
df

In [ ]:
df['year'] #this yields a pandas series

In [ ]:
df[['year']] #this yields a pandas data frame

- The dataframe can restore the original index using the mathod `reset_index`, as follows:

In [ ]:
df = df.reset_index()
df

- A data frame can also be created with a nested list. The two ways are equivalent.

In [ ]:
df_2=pd.DataFrame([[107.6, 'Gold', 2013],
                   [109.7, 'Gold', 2014],
                   [868.3, 'Silver', 2014],
                   [886.7, 'Silver', 2015]], 
                    columns=['production_Moz','commodity','year'])
df_2

- A data frame has an attribute **values**, which is of the multidimensional array type.

In [ ]:
print(type(df.values))

In [ ]:
print(df.values)
print('-'*55)
print(df_2.values)

- data frame v.s. series is similar to 2D array v.s. 1D array. A data frame has column names for the added dimension.

In [ ]:
print(type(df.columns))

In [ ]:
print(df.columns)  # column name

In [ ]:
df.columns.tolist()

- Each column in a DataFrame can be retrieved as a Series. 
- There are two ways to get the column: to retrieve by attribute and to retrieve by dictionary-like notation.

In [ ]:
df.year         # retrieve by attribute

In [ ]:
df['year']  # retrieve by dictionary-like notation

- The name of an individual column may be changed as follows:

In [ ]:
df.columns=['commodity', 'com','production']
df

In [ ]:
df.columns = df.columns.str.replace('com','metal')
df

- Indexing a pandas data frame is similar to indexing a numpy array. In pandas the first index retrieves a column and the second index retrieves the row.  
- To return the third element of the metal column, use the following:

In [ ]:
df['metal'][2]

- Slicing a pandas data frame is also similar to slicing a numpy array.  The following code returns the second and third elements of the production column.

In [ ]:
df['production'][1:3]

- In order to slice multiple columns pass a list of column names.  The following represents the world production of gold and silver in 2014.

In [ ]:
df[['metal','production']][1:3]

# Data Manipulation in Pandas

- Like numpy, pandas defines many broadcast operations, as well as numerous methods of manipulating data.


### concat
Pandas DataFrames can be expanded in both directions. First create two data frames.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['three', 'two','one'])
df1

In [ ]:
df2

- Since the two data frames have the same number of rows, it is natural to combine them "horizontally".  
- Note the concatenation takes place on the name of the index and not the order.

In [ ]:
pd.concat([df1, df2], axis = 1)

- The argument "axis = 1" means expanding along the column indices. Setting "axis = 0" will combine two data frames with same number of columns vertically. 

- Now changing the name of row 'one' to One' gives it a different index.  In this case the concatenation will use all the rows, filling in missing values with NaN.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['One', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['three', 'two','one'])
print(df1,'\n\n',df2)

In [ ]:
pd.concat([df1, df2], axis = 1)

- To include only the shared rows, set the join parameter to 'inner', as following:

In [ ]:
pd.concat([df1, df2], axis = 1, join='inner')

### sort
- It is possible to order the rows of data frames using `sort_values()`.  This object method takes a column name as an argument.

In [ ]:
df.sort_values('production_Moz')

In [ ]:
df.sort_values('production_Moz', ascending=False)

### merge
Merging is the most common way to combine multiple data frames. Create two data frames first.

In [ ]:
df3 = pd.DataFrame([['a','b','c'],['d','e','f'],['g','h','i']]\
                   ,columns=['col1','col2','col3'])
df4 = pd.DataFrame({'col2':['x','e','b','z'],'col4':[1,2,3,4],'col5':['i','f','e','h']})
df3

In [ ]:
df4

- Merging will use the **`on`** column as a key for the merge.  The code below identifies the column ‘col2’ from both data frames. 
- The argument **`how`** set to 'inner' makes the merge only keep rows occuring in both data frames.

In [ ]:
pd.merge(df3, df4, how='inner', on ='col2')

- The default value of the parameter `how` is 'inner'. The following code performs the same task as above.

In [ ]:
pd.merge(df3, df4, on ='col2')

- To keep every row in df1 then set the parameter `how` = 'left'.

In [ ]:
pd.merge(df3, df4, how='left', on ='col2')

- To keep all rows from both df1 and df2, set the parameter `how` = 'outer'.

In [ ]:
pd.merge(df3, df4, how='outer', on ='col2')

- If the `on` column does not have the same name in the two data frames, use 'left_on' and 'right_on' to indicate how to perform the merge.  
- Note that columns with the same name, in the two data frames, will be named with an x or y character appended.

In [ ]:
pd.merge(df3, df4, left_on='col2', right_on='col5')

### selection and filter

- The `loc` method provides purely label (index/columns)-based indexing. 
- This method allows selection from a data frame by index and columns.

In [ ]:
df1

The following returns a single column of df1.

In [ ]:
df1['a'] #gives series

In [ ]:
df1[1] #this throws an error

In [ ]:
type(df1['a'])

In [ ]:
df1[['a']] #gives a single column data frame

In [ ]:
df1[['a','c']] #gives a multi column data frame

- The following uses `loc` to return a single row of df1, using the index string name.

In [ ]:
df1.loc['two'] # the row that has index two

In [ ]:
df1.loc[['two']] # the row that has index two

- A second parameter is passed to loc to specify the chosen column. For example:

In [ ]:
df1.loc['two', 'b'] # the row that has index two and column b

- Note the two ways to accomplish this:

In [ ]:
print(df1.loc['two', 'b'])
print(df1['b'][1])

- Fancy indexing can be done with `loc` in pandas, as was done in Numpy. Select a row with a condition, as follows. 
- The code below returns all columns for the rows in which column 'a' is zero.

In [ ]:
df1.loc[df1.a==0,:]

- Columns are selected in a similar way.  The code below returns all rows for the columns in which row 'one' is zero.

In [ ]:
df1.loc[:, df1.loc['one']==0]

- To select data by position number, use iloc. The iloc method provides a purely position based indexing.

In [ ]:
# select as a matrix 
# row 2, col 3
df1.iloc[1, 2]

In [ ]:
# first row, first two columns
# return a Series
row1 = df1.iloc[0,:2]
row1

- You can also use a list to slice the dataframe.

In [ ]:
df1.iloc[[0,2], :2]

- DataFrame’s apply method applies a function on 1D arrays to each column or row.

In [ ]:
df1.apply(lambda x: max(x), axis=0) # 0 stands for apply to each column

In [ ]:
df1.apply(lambda x: min(x), axis=1) # 1 stands for apply to each row

- If you just want to apply the function a single column, you can extract that specific series first and then call the `map()` method just like the `map` operator in Python.

In [ ]:
df1.a.map(lambda x: x+1)

### Removing data

In [ ]:
#this removes row 'two'
df1.loc[df1.index != 'two']

In [ ]:
#this removes column 'a'
df1.drop('a', 1)

- Rows and columns may also be removed using fancy indexing or `drop()`.

In [ ]:
#this removes column b
df1.loc[:,df1.columns != 'b']

In [ ]:
# remember the following expression is a boolean and acts as a mask
df1.columns != 'b'

In [ ]:
#this removes column 'b'
df1.drop('b', axis=1)

# Handling Missing Data

- Missing or, equivalently, corrupt data is an unavoidable reality in processing large data sets.  There are various ways of dealing with it, depending upon the circumstances:
 - Discard it, and all related data.
 - Interpolate values from surrounding data
 - Isolate it and analyze it separately

- Which approach to use is a scientific question.  Whatever approach is chosen, pandas has computational methods to carry it out.
- Read a csv file that contains NaNs. **Note:** index_col is set to 0.  This means the first column is used as the index.

In [ ]:
df_miss = pd.read_csv('D_missing.csv',index_col=0)
df_miss

- To figure out where the missing data is, use the `isnull()` method.

In [ ]:
df_miss.isnull()

- How many missing values are there in the dataframe?

In [ ]:
sum(df_miss.isnull()) # Built-in sum doesn't work

- Summing up the boolean array reports how many missing values are in each column.

In [ ]:
np.sum(df_miss.isnull())

- The same is possible for rows by setting the axis parameter to 1.

In [ ]:
np.sum(df_miss.isnull(), axis=1)

- To isolate the rows in which there are null values, aggregate the `df.isnull()` boolean data frame along rows, using `any` with `axis=1`.

In [ ]:
mask=df_miss.isnull().any(axis=1)
mask

- Passing the boolean Series to the first position of the `loc` method of the DataFrame selects the rows that have value equal to True:

In [ ]:
df_miss.loc[mask,:]

- Similarly, if you want to locate the rows that contains only missing values, you can use `all()`

In [ ]:
mask=df_miss.isnull().all(axis=1)
mask

## dropna
- One option is to discard the rows with missing values. Below the arguments `axis=0` and `how='any'` indicate dropping *rows* with a NaN in *any* position.

In [ ]:
df_miss

In [ ]:
df_miss.dropna(axis=0, how='any')

- Another option is to drop rows full of NaNs. This can be done with `how='all'`.

In [ ]:
df_miss.dropna(axis=0, how='all')

- Applying `dropna()` to the above data frame may be done once more. Drop a column with the argument `axis=1`.

In [ ]:
df_miss.dropna(axis=0, how='all').dropna(axis=1, how='any')

## fillna

- An alternative to discarding information is to **impute** the data. 
- This can be done with the `fillna()` function with the value to be imputed as the argument.

In [ ]:
df_miss.fillna(0)

- Another common way to impute is by the mean of the column.

In [ ]:
df_miss['one'].fillna(df_miss['one'].mean())

## Interpolate

- Interpolation is the insertion of new data between preeexisting fixed points. Linear interpolation uses a linear function to create new data point.  
- In pandas this is accomplished using `interpolate()` with the `method` parameter set to linear, `method='linear'`.  
- This will fill in missing data points with a linear interpolation between the data points bordering the missing values.

In [ ]:
df_miss

In [ ]:
df_miss.interpolate(method='linear')

- Since `df.loc['b','one']` is a NaN between `df.loc['a','one']` and `df.loc['c','one']`, the value inserted is the mean of them.
- Note how this technique treats NaN values at the bottom of a column.

In [ ]:
(df_miss.loc['a', 'one'] + df_miss.loc['c', 'one'])/2

<p><a name="grouping"></a></p>

# Grouping and Aggregation

Grouping and  aggregation are critical components of data analysis which involve:

- **Splitting** data into groups based on some features.
- **Applying** a function to each group independently.
- **Combining** the result into data structure.

### Grouping

Grouping splits a data frame into categorical groups, according to a given variable, or set of variables.   Consider the following data frame.

In [ ]:
Country = pd.read_csv('D_countries.csv',delimiter=';')
Country.head()

In [ ]:
#choose the desires columns
Country=Country[['Country','Continent','Population','Area','Coastline',
                'Currency','Birthrate','Deathrate','Life expectancy']]
#change the column names to lowercase
Country.columns = Country.columns.str.lower()
#drop columns with missing values (Antarctica)
Country=Country.dropna(axis=0, how='any')
#limit to countries with populations over 20 million
Country=Country[Country['population']>20e6]
#add a boolean valued column that is true for countries with coastlines
Country['coastal']=Country['coastline']!=0
Country

- This will calculate the mean, min, max population.

In [ ]:
Country['population'].mean()

In [ ]:
Country['population'].min()

In [ ]:
Country['population'].max()

- This will calculate the sum of all populations in Asia.

In [ ]:
Country[Country['continent']=='Asia']['population'].sum()

- This will return the number of land-locked countries in the data frame.

In [ ]:
Country[Country['coastal']==False].country.count()

- To group the countries by continent, do the following:

In [ ]:
group = Country.groupby('continent')

- `group` is assigned the value returned by the `groupby` function, whose type is:

In [ ]:
print(type(group))

- The `DataFrameGroupBy` object is an `iterable`. Iterate over the object and print the contents, as follows:

In [ ]:
for item in group:
    print(item)

- Each `item` we print is a two element `tuple`. The first element is the grouping.  
- The second element is a data frame for that grouping. There is an alternative way of iterating through the groupby object, as follows:

In [ ]:
for key, values in group:
    print(key) #this indicates the grouping
    print('-'*70)
    print(values) #this is a dataframe for that 
    print('\n')

- This is a great way to print and inspect a `DataFrameGroupBy` object. Above was an example of **splitting**.
- The size function includes the number of elements in each grouping.

In [ ]:
group.size()

- The following will return a data frame with the mean values for every coulumn in every grouping.

In [ ]:
group.mean()

- If you just want the mean of one specific column.

In [ ]:
group.birthrate.mean()
# group[['birthrate']].mean() # This returns a data frame

### Aggregration

- The data frame can be grouped by multiple keys:

In [ ]:
group2 = Country.groupby(['continent', 'currency'])

In [ ]:
for key, values in group2:
    print(key)
    print('-'*70)
    print(values)
    print('\n')

In [ ]:
group2.mean()

- Apply multiple functions to each group with the method `agg()`:

In [ ]:
group.agg(['count', 'sum', 'min', 'max', 'mean', 'std'])

- To look at a single column of the aggregate analysis, use the column indexing:

In [ ]:
group.agg(['count', 'sum', 'min', 'max', 'mean', 'std'])['birthrate']

- The column std is missing a value above because Australia only has one row in the data frame.
- Also note that `sum` is an inappropriate function to apply to birthrate where it would be applicable to population.

- Different aggregating functions can be applied to different columns. This can be done with a dictionary.

In [ ]:
colFun = {'country':['count'],
          'population': ['sum','min', 'max','mean','std'], 
          'area': ['sum','min', 'max','mean'],
          'coastline':['sum','min', 'max'],
          'birthrate':['min', 'max','mean','std'],
          'deathrate':['min', 'max','mean','std'],
          'life expectancy':['min', 'max','mean','std']}
analysis=group.agg(colFun)
analysis

- Custom aggregation functions may also be applied. In the previous examples, aggregation functions are applied to each **column** in a data frame. 
- Keep this in mind when defining a custom function. For example, build a function that computes the mean after removing maxima (truncated mean).

In [ ]:
def trunc_mean(x):    # x has to be a 'vector' (1d array or pandas Series)
    sec=x[x!=x.max()]
    if sec.shape[0]!=0:
        return np.mean(sec)

In [ ]:
Country[Country['country']!='Australia' ].groupby('continent').agg(trunc_mean)

### unique and nunique

In [ ]:
Country['country'].unique()

In [ ]:
Country['country'].nunique()

### correlation

In [ ]:
import seaborn as sns

f, ax = plt.subplots(figsize=(10, 8))
corr = Country.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)

### boxplot

In [ ]:
Country.boxplot()

### histogram

In [ ]:
Country[['area', 'population', 'coastline', 'birthrate', 'deathrate', 'life expectancy']].hist()