In [1]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.17.3-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: joblib>=0.13.2 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: setuptools in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\me\anaconda3\lib\site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\me\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\me\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\me\appdata\roaming\python\python38\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\me\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\me\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\me\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\me\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3

In [9]:
dataset = [['Milk', 'Eggs', 'Bread'], 
           ['Milk', 'Eggs'], 
           ['Milk', 'Bread'], 
           ['Eggs', 'Apple']]
dataset

[['Milk', 'Eggs', 'Bread'],
 ['Milk', 'Eggs'],
 ['Milk', 'Bread'],
 ['Eggs', 'Apple']]

In [15]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)

df = pd.DataFrame(te_array, columns = te.columns_)
df

   Apple  Bread   Eggs   Milk
0  False   True   True   True
1  False  False   True   True
2  False   True  False   True
3   True  False   True  False

In [16]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets_apriori = apriori(df, min_support = 0.01, use_colnames = True)

In [17]:
frequent_itemsets_apriori

   support             itemsets
0     0.25              (Apple)
1     0.50              (Bread)
2     0.75               (Eggs)
3     0.75               (Milk)
4     0.25        (Apple, Eggs)
5     0.25        (Bread, Eggs)
6     0.50        (Bread, Milk)
7     0.50         (Milk, Eggs)
8     0.25  (Bread, Milk, Eggs)

In [21]:
from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets_fp = fpgrowth(df, min_support = 0.01, use_colnames= True)

In [22]:
frequent_itemsets_fp

   support             itemsets
0     0.75               (Milk)
1     0.75               (Eggs)
2     0.50              (Bread)
3     0.25              (Apple)
4     0.50         (Milk, Eggs)
5     0.50        (Bread, Milk)
6     0.25        (Bread, Eggs)
7     0.25  (Bread, Milk, Eggs)
8     0.25        (Apple, Eggs)

In [27]:
from mlxtend.frequent_patterns import association_rules

#min_threshold is being x% sure that buying something will also mean buying something else
#arbitrary number based on your experience and domain knowledge
rules_ap = association_rules(frequent_itemsets_apriori, metric='confidence', min_threshold = 0.8)
rules_fp = association_rules(frequent_itemsets_fp, metric='confidence', min_threshold = 0.8)

In [26]:
rules_ap

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Milk),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
1,"(Bread, Eggs)",(Milk),0.25,0.75,0.25,1.0,1.333333,0.0625,inf
2,(Apple),(Eggs),0.25,0.75,0.25,1.0,1.333333,0.0625,inf

In [28]:
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Milk),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
1,"(Bread, Eggs)",(Milk),0.25,0.75,0.25,1.0,1.333333,0.0625,inf
2,(Apple),(Eggs),0.25,0.75,0.25,1.0,1.333333,0.0625,inf

In [29]:
#upselling, selling new products
#downselling, selling similar products

#Support, 
#Confidence, conditional probability
#Lift, Strenthg of dependence