<h3 id="exercise">Exercise: Your First Program</h3>
<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [1]:
# Write your code below and press Shift+Enter to execute 
print("Hello, world!")

Hello, world!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [ ]:
# Write your code below and press Shift+Enter to execute 
print("Hello, world!") #Print the traditional hello world

<h3 id="exer_type">Exercise: Types</h3>
<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [2]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [3]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6 / 2)

float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [4]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6 // 2)

int

<h3 id="exer_exp">Exercise: Expression</h3>
<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
hours = 160 / 60
hours

2.6666666666666665

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>
<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [10]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [12]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17

<h2 id="quiz">Quiz on Tuples</h2>

Consider the following tuple:

In [13]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [14]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

Access the element, with respect to index 3:

In [16]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [17]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple <code>genres_tuple</code>:

In [19]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

('pop', 'rock')

Find the index of <code>"disco"</code>:

In [22]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [25]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
C_sorted_tuple=sorted(C_tuple)
C_sorted_tuple

[-5, -3, 1]

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [26]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [27]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [28]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [29]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [30]:
# Write your code below and press Shift+Enter to execute
one_list = ['rap','house','electronic music', 'rap']
set(one_list)

{'electronic music', 'house', 'rap'}

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) = sum(B)</code>

In [31]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum(A) == sum(B) #Because B is a set, 1 and 2 is only shown once

False

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [39]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1 | album_set2
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [42]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

<h2 id="quiz">Quiz on Dictionaries</h2>

<b>You will need this dictionary for the next two questions:</b>

In [44]:
# Question sample dictionary

soundtrack_dict = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dict

{'Saturday Night Fever': '1977', 'The Bodyguard': '1992'}

a) In the dictionary <code>soundtrack_dict</code> what are the keys ?

In [46]:
# Write your code below and press Shift+Enter to execute
soundtrack_dict.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary <code>soundtrack_dict</code> what are the values ?

In [48]:
# Write your code below and press Shift+Enter to execute
soundtrack_dict.values()

dict_values(['1992', '1977'])

<b>You will need this dictionary for the following questions:</b>

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [53]:
# Write your code below and press Shift+Enter to execute
album_sales_dict = dict([("Back in Black",50), ("The Bodyguard",50), ("Thriller", 65)])
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [54]:
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]

65

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

In [55]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the names of the recording sales from the dictionary using the method <code>values</code>:

In [56]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values([50, 50, 65])

<h2 id="quiz">Quiz on Conditions</h2>

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [57]:
# Write your code below and press Shift+Enter to execute
album_rating = 8.5
if(album_rating > 8):
    print("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [86]:
# Write your code below and press Shift+Enter to execute
if(album_rating > 8):
    print("this album is amazing!")
else:
    print("this album is ok")

this album is amazing!

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [61]:
# Write your code below and press Shift+Enter to execute
album_year = 1991
if(album_year < 1980 or album_year == 1991 or album_year == 1993):
    print(album_year)

1991

<h2 id="quiz">Quiz on Loops</h2>

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [62]:
# Write your code below and press Shift+Enter to execute

for num in range(-5, 6):
    print(num)

-5
-4
-3
-2
-1
0
1
2
3
4
5

Print the elements of the following list:
<code>Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [63]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: <code>squares=['red', 'yellow', 'green', 'purple', 'blue']</code>

In [64]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']

for colour in squares:
    print(colour)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [71]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

c = 0
count = len(PlayListRatings)

while(c < count):
    if(PlayListRatings[c] < 6):
        break
    print(PlayListRatings[c])
    c+=1

10
9.5
10
8
7.5

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [73]:
# Write your code below and press Shift+Enter to execute
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

c = 0
count = len(squares)

while(c < count):
    if(squares[c] != "orange"):
        break
    elif(squares[c] == "orange"):
        new_squares.append("orange")
    c+=1
new_squares

['orange', 'orange']

<h2>Quiz on Functions</h2>

Come up with a function that divides the first input by the second input:

In [ ]:
# Write your code below and press Shift+Enter to execute
def divides(a, b):
    return a / b

Use the function <code>con</code> for the following question.

In [75]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add to integers or strings?

In [85]:
# Write your code below and press Shift+Enter to execute
con(1, 2)
con("hi"," there")

#It can be used to add both integers and strings

'hi there'

Can the <code>con</code> function we defined before be used to concatenate a list or tuple?

In [84]:
# Write your code below and press Shift+Enter to execute
con(['a', 'z'], ['b'])

['a', 'z', 'b']

In [81]:
con(('a', 34), ('b', 2))

('a', 34, 'b', 2)

In [ ]:
#Yes, it can be used to concatenate lists and tuples